:root{
    --red: ;
    --tipo-titulos : 'Playfair Display SC', serif;
    --tipo-principal :'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style:none;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
}

h1 {
    text-align: center;
    
}

.startGame{
    background-color: orange;
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    border-radius: 1.3em;
    cursor: pointer;
    align-items: center;
    margin: 3em auto 3em auto;
    padding: 1.5em 5em 1.5em 5em;
}


.table {
    margin: 2em auto 2em auto;
    width: 60%;
}

td {
    padding: 0.5em;
}

.cardE {
    background-color: rgb(233, 217, 72);
    border-radius: 5%;
    color: black;
    width: 100%;
    padding: 2em;
    cursor: pointer;
}

 .results{
    text-align: center;
    margin: 1.5em;
    font-size: 2em;
}

.about{
    text-align: center;
}
.about .h2{
    margin: 0 0 1em;
}
.about .p{
    max-width: 70rem;
    width: 40em;
   
    
    font-size: 1.5em;
    margin: 1em auto 1em auto;
    text-align: left;
}
.about .rrss{
    width: 100%;
 /*   background-color: limegreen;*/

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
 /* background-color: orange;  */
  margin: 0 1em;
}
.about .a{}
.about .svg{
    width: 3em;
    height: 3em;
    margin-top: 1.7em;
   /* background-color: red;*/
}

.footer {
    /* background-color: salmon;*/
     padding: 2em 0;
     text-align: center;
     margin-bottom: 1em;
 }